.ps-widget[ps-sku], .ps-widget[data-ps-sku] {
  float: left;
  display: block;
  margin: 0 0 0 0;
  padding: 10px 17px;
  background-color: #0e6aab;
  border-color: transparent;
  border-style: solid;
  border-width: 0;
  border-radius: 0;
  min-width: 0;
  font-family: 'introregular', Arial, sans-serif;
  font-size: 13px;
  line-height: 14px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s; }
  .ps-widget[ps-sku] > small, .ps-widget[data-ps-sku] > small {
    display: none; }
  .ps-widget[ps-sku].ps-disabled, .ps-widget[data-ps-sku].ps-disabled {
    background-color: #aaa;
    border-color: #aaa;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    cursor: default; }
    .ps-widget[ps-sku].ps-disabled > span, .ps-widget[data-ps-sku].ps-disabled > span {
      display: none; }
    .ps-widget[ps-sku].ps-disabled > small, .ps-widget[data-ps-sku].ps-disabled > small {
      font-family: 'introblack', Arial, sans-serif;
      font-size: 13px;
      line-height: 24px;
      font-weight: 400;
      color: #fff;
      display: block; }
  @media screen and (min-width: 1025px) {
    .ps-widget[ps-sku]:hover, .ps-widget[data-ps-sku]:hover {
      background-color: #abb5b6;
      border-color: transparent;
      border-style: solid;
      border-width: 0;
      border-radius: 4px;
      font-family: 'introregular', Arial, sans-serif;
      font-size: 13px;
      line-height: 14px;
      font-weight: 400;
      color: #fff;
      cursor: pointer; }
    .ps-widget[ps-sku].ps-disabled:hover, .ps-widget[data-ps-sku].ps-disabled:hover {
      background-color: #aaa;
      border-color: #aaa;
      border-style: solid;
      border-width: 1px;
      border-radius: 4px;
      cursor: default; }
      .ps-widget[ps-sku].ps-disabled:hover > small, .ps-widget[data-ps-sku].ps-disabled:hover > small {
        font-family: 'introblack', Arial, sans-serif;
        font-size: 13px;
        line-height: 24px;
        font-weight: 400;
        color: #fff; } }
  @media screen and (max-width: 1024px) {
    .ps-widget[ps-sku], .ps-widget[data-ps-sku] {
      min-width: 0;
      background-color: #0e6aab;
      padding: 10px 17px; } }
  @media screen and (max-width: 767px) {
    .ps-widget[ps-sku], .ps-widget[data-ps-sku] {
      min-width: 0;
      background-color: #0e6aab;
      padding: 10px 17px; } }
